@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNext_Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNext_Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Roman";
  src: url("../fonts/Avenir_Roman.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
