@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNext_Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNext_Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNext_Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AlarmClock";
  src: url("../fonts/AlarmClock.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
