html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: 700;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNext_Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNext_Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNext_Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AlarmClock";
  src: url("../fonts/AlarmClock.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-width: 320px;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "Avenir";
  font-size: 16px;
  font-weight: 400;
  color: #000;
  overflow-x: hidden;
}

.single-screen {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("../image/bg.jpg") no-repeat center top;
  background-size: 100%;
  background-color: #0e3544;
}

@media screen and (min-width: 1200px) {
  .single-screen {
    background: url("../image/bg_web.jpg") no-repeat center;
    background-size: cover;
  }
}

.container {
  position: relative;
  width: 414px;
  margin: 0 auto;
  padding: 0 22px;
}

@media screen and (max-width: 413px) {
  .container {
    width: 320px;
    padding: 0 5px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 500px;
    padding: 0 20px;
  }
}

.single-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.screen-preview {
  padding: 133px 0 20px;
  height: 100%;
}

.screen-testing {
  display: none;
  padding: 73px 0 20px;
}

@media screen and (max-width: 413px) {
  .screen-testing {
    padding-top: 40px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.screen-preview .logo-wrap {
  position: relative;
  width: 196px;
  margin: 0 auto 50px;
  padding: 0 10px;
  z-index: 0;
}

@media screen and (max-width: 413px) {
  .screen-preview .logo-wrap {
    width: 170px;
  }
}

@media screen and (min-width: 1200px) {
  .screen-preview .logo-wrap {
    width: 217px;
  }
}

.screen-preview .logo {
  width: 100%;
}

.toggle-panel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
  z-index: 20;
}

.toggle-panel .toggle-item {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 413px) {
  .toggle-panel .toggle-item {
    font-size: 13px;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .toggle-panel .toggle-item {
    font-size: 20px;
  }
}

.toggle-panel .toggle-item.enabled {
  color: #fff;
}

.rectangle-dinamic-up {
  position: absolute;
  top: 0;
  width: 100%;
  height: 232px;
  padding: 20px 20px 65px;
  border-width: 2px;
  border-style: solid;
  border-image-source: linear-gradient(123deg, #3b7074, #5a9dd8 66%, #74bcbf);
  border-image-slice: 1;
  transition: top 0.3s ease;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .rectangle-dinamic-up {
    height: 300px;
  }
}

.rectangle-dinamic-up.broken-border {
  border-width: 2px 2px 0;
}

.rectangle-dinamic-up.broken-border::after, .rectangle-dinamic-up.broken-border::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 15px;
  height: 2px;
}

.rectangle-dinamic-up.broken-border::after {
  left: 0;
  background-color: #3b9198;
}

.rectangle-dinamic-up.broken-border::before {
  right: 0;
  background-color: #74bcbf;
}

.rectangle-dinamic-up.active {
  top: -105px;
}

.rectangle-dinamic-up.no-touch {
  pointer-events: none;
  cursor: auto;
}

.rectangle-dinamic-up .dinamic-text {
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  white-space: pre-wrap;
}

@media screen and (max-width: 413px) {
  .rectangle-dinamic-up .dinamic-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .rectangle-dinamic-up .dinamic-text {
    font-size: 18px;
  }
}

.rectangle-dinamic-up .dinamic-text b {
  color: #00d9d9;
}

.rectangle-static {
  width: 100%;
  height: 232px;
  padding-top: 70px;
}

@media screen and (min-width: 1200px) {
  .rectangle-static {
    height: 300px;
    padding-top: 134px;
  }
}

.rectangle-dynamic-down {
  position: relative;
  margin: -150px 15px 0;
  height: 210px;
  border-width: 0 2px 2px;
  border-style: solid;
  border-image-source: linear-gradient(123deg, #41b4bd, #5aadd8 64%, #57b8bc);
  border-image-slice: 1;
  transition: margin-top 0.3s ease;
}

@media screen and (min-width: 1200px) {
  .rectangle-dynamic-down {
    height: 280px;
  }
}

.rectangle-dynamic-down.active {
  margin-top: -45px;
  border-width: 2px;
}

@media screen and (min-width: 1200px) {
  .rectangle-dynamic-down.active {
    width: 837px;
    left: 50%;
    margin-left: -418px;
  }
}

.rectangle-dynamic-down.broken-border::after, .rectangle-dynamic-down.broken-border::before {
  content: '';
  position: absolute;
  top: 0;
  width: 70px;
  height: 2px;
}

@media screen and (max-width: 413px) {
  .rectangle-dynamic-down.broken-border::after, .rectangle-dynamic-down.broken-border::before {
    width: 55px;
  }
}

.rectangle-dynamic-down.broken-border::after {
  left: 0;
  background-color: #41b4bd;
}

.rectangle-dynamic-down.broken-border::before {
  right: 0;
  background-color: #5aadd8;
}

.description-list {
  height: 100%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 413px) {
  .description-list {
    padding: 23px;
  }
}

.description-list.hide {
  display: none;
  opacity: 0;
}

.description-list.visible {
  display: block;
  opacity: 1;
}

.description-list .desc {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  display: none;
}

.description-list .desc.visible {
  display: block;
}

@media screen and (max-width: 413px) {
  .description-list .desc {
    font-size: 14px;
  }
}

.geniuses-list {
  display: flex;
  flex-wrap: wrap;
  display: none;
  opacity: 0;
}

.geniuses-list.visible {
  display: flex;
  opacity: 1;
}

.geniuses-list .geniuses-item {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 2 - 21px);
  height: 70px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .geniuses-list .geniuses-item {
    width: calc(100% / 4 - 21px);
  }
}

.geniuses-list .geniuses-item:nth-of-type(odd) {
  border-width: 0 7px 14px 14px;
}

.geniuses-list .geniuses-item:nth-of-type(even) {
  border-width: 0 14px 14px 7px;
}

.geniuses-list .geniuses-item:nth-of-type(1) {
  border-width: 14px 7px 14px 14px;
}

.geniuses-list .geniuses-item:nth-of-type(2) {
  border-width: 14px 14px 14px 7px;
}

@media screen and (min-width: 1200px) {
  .geniuses-list .geniuses-item:nth-of-type(n + 4) {
    border-width: 0px 7px 14px 14px;
  }
  .geniuses-list .geniuses-item:nth-of-type(-n + 4) {
    border-width: 14px 7px 14px 14px;
  }
}

.geniuses-list .geniuses-item span {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.7px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 413px) {
  .geniuses-list .geniuses-item span {
    font-size: 11px;
  }
}

@media screen and (min-width: 1200px) {
  .geniuses-list .geniuses-item span {
    font-weight: 600;
  }
}

.screen-testing .logo-wrap {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 413px) {
  .screen-testing .logo-wrap {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .screen-testing .logo-wrap {
    margin-bottom: 50px;
  }
  .screen-testing .logo-wrap .logo {
    width: 150px;
  }
}

.testing-wrap {
  position: relative;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(143deg, #41b4bd, #5aadd8 64%, #57b8bc);
  border-image-slice: 1;
}

.testing-wrap .scroll-container::-webkit-scrollbar {
  width: 0;
}

.testing-wrap .scroll-container.active {
  height: 515px;
  overflow-y: auto;
}

@media screen and (min-width: 1200px) {
  .testing-wrap .scroll-container.active {
    height: 462px;
  }
}

.testing-wrap .scroll-container.active .top-fixed {
  height: 240px;
}

.testing-wrap .top-fixed {
  height: 276px;
}

@media screen and (max-width: 413px) {
  .testing-wrap .top-fixed {
    height: 243px;
  }
}

@media screen and (min-width: 1200px) {
  .testing-wrap .top-fixed {
    height: 325px;
  }
}

.testing-wrap .top-fixed.top-fixed-real {
  width: 100%;
}

.testing-wrap .top-fixed.top-fixed-real.fixed {
  position: absolute;
  top: 0;
  z-index: 50;
}

.testing-wrap .bg-heading {
  padding: 35px 20px 30px;
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 413px) {
  .testing-wrap .bg-heading {
    padding: 30px 20px 25px;
  }
}

@media screen and (min-width: 1200px) {
  .testing-wrap .bg-heading {
    padding: 30px 20px 25px;
  }
}

.testing-wrap .bg-heading.hide {
  display: none;
}

.testing-wrap .bg-heading .testing-heading {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
}

@media screen and (max-width: 413px) {
  .testing-wrap .bg-heading .testing-heading {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .testing-wrap .bg-heading .testing-heading {
    font-size: 20px;
    letter-spacing: 4px;
  }
}

.testing-wrap .bg-email {
  border-width: 0 20px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
}

.testing-wrap .bg-email.hide {
  display: none;
}

.testing-wrap .bg-email .input-email {
  width: 100%;
  height: 44px;
  font-size: 13px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.66);
  background-color: rgba(0, 0, 0, 0.14);
  border: none;
  outline: none;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .testing-wrap .bg-email .input-email {
    height: 55px;
    font-size: 15px;
    letter-spacing: 2.3px;
  }
}

.testing-wrap .bg-email .input-email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.66);
}

.testing-wrap .bg-email .input-email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.66);
}

.testing-wrap .bg-email .input-email::-ms-placeholder {
  color: rgba(255, 255, 255, 0.66);
}

.testing-wrap .bg-email .input-email::placeholder {
  color: rgba(255, 255, 255, 0.66);
}

.testing-wrap .bg-timer {
  border-width: 15px 110px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 1200px) {
  .testing-wrap .bg-timer {
    border-right-width: 133px;
    border-left-width: 133px;
  }
}

.testing-wrap .bg-timer .timer {
  height: 44px;
  background-color: rgba(0, 0, 0, 0.14);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .testing-wrap .bg-timer .timer {
    height: 55px;
  }
}

.testing-wrap .bg-timer .timer span {
  font-family: "AlarmClock";
  font-size: 25px;
  line-height: 44px;
  letter-spacing: 2.4px;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 413px) {
  .testing-wrap .bg-timer .timer span {
    font-size: 22px;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 1200px) {
  .testing-wrap .bg-timer .timer span {
    font-size: 33px;
    line-height: 57px;
    letter-spacing: 3.2px;
  }
}

.testing-wrap .middle-heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 59px);
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 1200px) {
  .testing-wrap .middle-heading {
    height: calc(100% - 70px);
  }
}

.testing-wrap .middle-heading .progress-bar {
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 14px;
  height: 155px;
  background-color: rgba(0, 0, 0, 0.14);
}

.testing-wrap .middle-heading .progress-bar .progress-bar-wrap {
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 0;
}

.testing-wrap .middle-heading .progress-bar .scale-dash {
  position: absolute;
  top: 0;
  left: 13px;
  width: 30px;
  height: 100%;
}

.testing-wrap .middle-heading .progress-bar .scale-dash .dash {
  position: absolute;
  height: 14px;
  margin-top: -7px;
  font-size: 10px;
  letter-spacing: 2.9px;
  color: #fff;
}

.testing-wrap .middle-heading .progress-bar .scale-dash .dash.dash-1 {
  top: 80%;
}

.testing-wrap .middle-heading .progress-bar .scale-dash .dash.dash-2 {
  top: 60%;
}

.testing-wrap .middle-heading .progress-bar .scale-dash .dash.dash-3 {
  top: 40%;
}

.testing-wrap .middle-heading .progress-bar .scale-dash .dash.dash-4 {
  top: 20%;
}

.testing-wrap .middle-heading .progress-bar .scale-dash .dash.dash-5 {
  top: 0;
}

.testing-wrap .middle-heading .progress-bar .scale {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #53c6cc;
}

.testing-wrap .middle-heading .title {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 2.9px;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 1200px) {
  .testing-wrap .middle-heading .title {
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 3.9px;
  }
}

.testing-wrap .bg-button-start {
  border: 20px solid rgba(255, 255, 255, 0.2);
  border-top-width: 10px;
}

.testing-wrap .bg-button-start .button {
  width: 100%;
  height: 44px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 3.4px;
  color: rgba(255, 255, 255, 0.46);
  background-color: rgba(0, 0, 0, 0.14);
  border: none;
  outline: none;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .testing-wrap .bg-button-start .button {
    height: 55px;
    font-size: 22px;
    letter-spacing: 4.4px;
  }
}

.testing-wrap .bg-button-start .button[disabled] {
  color: rgba(255, 255, 255, 0.2);
}

.testing-wrap .bg-button-start .button.button-submit {
  display: none;
}

.testing-wrap.offset-scroll {
  padding-top: 240px;
}

.testing-wrap.offset-scroll .scroll-container {
  height: 275px;
}

@media screen and (min-width: 1200px) {
  .testing-wrap.offset-scroll .scroll-container {
    height: 222px;
  }
}

.testing-wrap.offset-scroll .scroll-container .top-fixed-fake {
  height: 0;
}

.questions-list {
  display: none;
  padding: 5px 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.questions-list .question {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .questions-list .question {
    margin-bottom: 0;
  }
}

.questions-list .question:last-of-type {
  margin-bottom: 0;
}

.questions-list .question-text {
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .questions-list .question-text {
    font-size: 17px;
  }
}

.questions-list .answers-list {
  padding: 10px 30px;
}

@media screen and (max-width: 413px) {
  .questions-list .answers-list {
    padding: 10px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .questions-list .answers-list {
    padding: 7px 20px;
  }
}

.questions-list .answer {
  margin-bottom: 15px;
}

.questions-list .answer .label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.questions-list .answer .input-answer {
  display: none;
}

.questions-list .answer .input-answer:checked + .fake-checkbox::after {
  content: "";
}

.questions-list .answer .fake-checkbox {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  border: 2px solid #243a3c;
}

.questions-list .answer .fake-checkbox::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 18px;
  height: 7px;
  margin-left: -11px;
  margin-top: -7px;
  border-width: 0 0 2px 2px;
  border-style: solid;
  border-color: #fff;
  transform: rotate(-50deg);
}

.questions-list .answer .possible-answer {
  display: inline-block;
  width: calc(100% - 34px);
  padding-left: 10px;
  font-size: 13px;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .questions-list .answer .possible-answer {
    font-size: 15px;
  }
}

.screen-testing.testing-start {
  padding-top: 20px;
}

@media screen and (min-width: 1200px) {
  .screen-testing.testing-start {
    padding-top: 58px;
  }
}

.screen-testing.testing-start .logo-wrap {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .screen-testing.testing-start .logo-wrap {
    margin-bottom: 35px;
  }
}

.screen-testing.testing-start .logo-wrap .logo {
  width: 100px;
}

@media screen and (min-width: 1200px) {
  .screen-testing.testing-start .logo-wrap .logo {
    width: 150px;
  }
}

.screen-testing.testing-start .testing-wrap {
  height: 593px;
}

@media screen and (min-width: 1200px) {
  .screen-testing.testing-start .testing-wrap {
    height: 551px;
  }
}
