html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: 700;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNext_Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNext_Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNext_Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-width: 320px;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "Avenir";
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 320px;
  padding: 0 15px;
}

@media screen and (min-width: 414px) {
  .container {
    width: 414px;
    padding: 0 30px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 600px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 992px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.preview-section {
  position: relative;
  padding-top: 0;
  height: 100vh;
}

@media screen and (min-width: 414px) {
  .preview-section {
    height: 736px;
  }
}

@media screen and (orientation: landscape) and (min-width: 414px) {
  .preview-section {
    height: 100vh;
    max-height: 736px;
  }
}

.preview-section .header-clone {
  position: absolute;
  top: 50%;
  margin-top: -48px;
  width: 100%;
  height: 96px;
  background-color: transparent;
}

@media screen and (min-width: 414px) {
  .preview-section .header-clone {
    height: 118px;
    margin-top: -59px;
  }
}

@media screen and (min-width: 414px) {
  .preview-section .header-clone {
    height: 128px;
    margin-top: -64px;
  }
}

.preview-section .cat-gif {
  position: absolute;
  bottom: -70px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  z-index: 2000;
}

@media screen and (min-width: 414px) {
  .preview-section .cat-gif {
    bottom: -60px;
  }
}

@media screen and (min-width: 768px) {
  .preview-section .cat-gif {
    bottom: -41px;
  }
}

.header {
  position: absolute;
  top: 50%;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
}

@media screen and (min-width: 414px) {
  .header {
    padding-top: 35px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 25px;
    padding-bottom: 26px;
  }
}

.header.fixed {
  position: fixed;
  top: 0;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .header.fixed {
    padding-bottom: 10px;
  }
}

.header .logo {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header .logo {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .header .logo {
    width: 372px;
  }
}

@media screen and (min-width: 992px) {
  .section-card {
    height: 500px;
  }
}

.section-card .image-card {
  margin-bottom: 15px;
}

@media screen and (min-width: 992px) {
  .section-card .image-card {
    float: left;
    width: 400px;
  }
}

.section-card .image-card .card {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 992px) {
  .section-card .line-wrapper {
    float: left;
    width: calc(100% - 400px);
    padding-left: 30px;
  }
}

.section-card .info-line {
  margin-bottom: 4px;
  padding: 12px;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .section-card .info-line {
    text-align: left;
  }
}

.section-card .info-line.line-gray {
  background-color: #f3f3f3;
}

@media screen and (min-width: 992px) {
  .section-card .info-line.line-gray {
    background-color: transparent;
  }
}

@media screen and (min-width: 992px) {
  .section-card .main-line {
    padding-bottom: 0;
  }
  .section-card .main-line:first-of-type {
    padding-top: 0;
  }
}

.section-card .main-line .title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 24px;
}

@media screen and (min-width: 414px) {
  .section-card .main-line .title {
    font-size: 17px;
    line-height: 27px;
  }
}

.section-card .main-line .tip {
  font-size: 11px;
  letter-spacing: 1px;
}

@media screen and (min-width: 414px) {
  .section-card .main-line .tip {
    font-size: 13px;
  }
}

.section-card .sub-line {
  padding-bottom: 0;
}

.section-card .sub-line .info-title {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media screen and (min-width: 414px) {
  .section-card .sub-line .info-title {
    font-size: 14px;
  }
}

.section-interface .interface-tour::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

.section-interface .interface-tour .images {
  width: 165px;
}

@media screen and (min-width: 414px) {
  .section-interface .interface-tour .images {
    width: 213px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour .images {
    width: 220px;
  }
}

.section-interface .interface-tour .images img {
  width: 100%;
}

.section-interface .interface-tour .interface-elements {
  width: calc(100% - 165px);
}

@media screen and (min-width: 414px) {
  .section-interface .interface-tour .interface-elements {
    width: calc(100% - 213px);
  }
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour .interface-elements {
    width: calc(100% - 220px);
  }
}

.section-interface .interface-tour.view-left {
  height: 499px;
  padding-top: 45px;
  padding-bottom: 25px;
}

@media screen and (min-width: 992px) {
  .section-interface .interface-tour.view-left {
    padding-left: 100px;
  }
}

.section-interface .interface-tour.view-left .images {
  float: left;
}

.section-interface .interface-tour.view-left .interface-elements {
  float: right;
  padding-top: 15px;
  padding-left: 20px;
}

@media screen and (min-width: 414px) {
  .section-interface .interface-tour.view-left .interface-elements {
    padding-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour.view-left .interface-elements {
    padding-top: 40px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 992px) {
  .section-interface .interface-tour.view-left .interface-elements {
    padding-right: 280px;
  }
}

.section-interface .interface-tour.view-left .interface-elements .element:first-of-type {
  margin-bottom: 10px;
}

@media screen and (min-width: 414px) {
  .section-interface .interface-tour.view-left .interface-elements .element:first-of-type {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour.view-left .interface-elements .element:first-of-type {
    margin-bottom: 70px;
  }
}

.section-interface .interface-tour.view-left .interface-elements .element:nth-of-type(2) {
  margin-bottom: 22px;
}

@media screen and (min-width: 414px) {
  .section-interface .interface-tour.view-left .interface-elements .element:nth-of-type(2) {
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour.view-left .interface-elements .element:nth-of-type(2) {
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour.view-left .arrow::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 5px;
    background-color: #87b36c;
    border-radius: 100%;
  }
}

.section-interface .interface-tour.view-left .arrow.arrow-top {
  top: 7px;
  left: -37px;
  width: 37px;
  height: 73px;
  background-image: url("../images/arrow/arrow_1.svg");
}

@media screen and (min-width: 414px) {
  .section-interface .interface-tour.view-left .arrow.arrow-top {
    top: 10px;
    left: -41px;
    width: 40px;
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour.view-left .arrow.arrow-top {
    top: 48px;
    left: -80px;
    width: 90px;
    height: 1px;
    -webkit-transform: rotate(-56deg);
        -ms-transform: rotate(-56deg);
            transform: rotate(-56deg);
    background-image: none;
  }
}

.section-interface .interface-tour.view-left .arrow.arrow-middle {
  top: -38px;
  left: -167px;
  width: 166px;
  height: 51px;
  background-image: url("../images/arrow/arrow_2.svg");
}

@media screen and (min-width: 414px) {
  .section-interface .interface-tour.view-left .arrow.arrow-middle {
    top: -40px;
    left: -211px;
    width: 211px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour.view-left .arrow.arrow-middle {
    top: -2px;
    left: -238px;
    width: 228px;
    height: 1px;
    -webkit-transform: rotate(6deg);
        -ms-transform: rotate(6deg);
            transform: rotate(6deg);
    background-image: none;
  }
}

.section-interface .interface-tour.view-left .arrow.arrow-bottom {
  top: 5px;
  left: -93px;
  width: 92px;
  height: 21px;
  background-image: url("../images/arrow/arrow_3.svg");
}

@media screen and (min-width: 414px) {
  .section-interface .interface-tour.view-left .arrow.arrow-bottom {
    top: 10px;
    left: -115px;
    width: 115px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour.view-left .arrow.arrow-bottom {
    top: 31px;
    left: -135px;
    width: 127px;
    height: 1px;
    -webkit-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
            transform: rotate(-18deg);
    background-image: none;
  }
}

@media screen and (min-width: 992px) {
  .section-interface .interface-tour.view-right {
    padding-right: 100px;
  }
}

.section-interface .interface-tour.view-right .images {
  float: right;
}

.section-interface .interface-tour.view-right .interface-elements {
  float: left;
  padding-top: 75px;
  padding-right: 20px;
}

@media screen and (min-width: 414px) {
  .section-interface .interface-tour.view-right .interface-elements {
    padding-top: 95px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour.view-right .interface-elements {
    padding-top: 98px;
  }
}

@media screen and (min-width: 992px) {
  .section-interface .interface-tour.view-right .interface-elements {
    padding-left: 285px;
  }
}

.section-interface .interface-tour.view-right .element:first-of-type {
  margin-bottom: 31px;
}

@media screen and (min-width: 414px) {
  .section-interface .interface-tour.view-right .element:first-of-type {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour.view-right .element:first-of-type {
    margin-bottom: 74px;
  }
}

.section-interface .interface-tour.view-right .element:nth-of-type(2) {
  margin-bottom: 25px;
}

@media screen and (min-width: 414px) {
  .section-interface .interface-tour.view-right .element:nth-of-type(2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour.view-right .element:nth-of-type(2) {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour.view-right .arrow::after {
    content: "";
    position: absolute;
    right: 0;
    top: -2px;
    width: 5px;
    height: 5px;
    background-color: #87b36c;
    border-radius: 100%;
  }
}

.section-interface .interface-tour.view-right .arrow.arrow-top {
  top: -7px;
  right: -41px;
  width: 36px;
  height: 68px;
  background-image: url("../images/arrow/arrow_4.svg");
}

@media screen and (min-width: 414px) {
  .section-interface .interface-tour.view-right .arrow.arrow-top {
    width: 34px;
    height: 86px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour.view-right .arrow.arrow-top {
    top: -5px;
    background-color: transparent;
  }
  .section-interface .interface-tour.view-right .arrow.arrow-top::after {
    top: 16px;
    right: 33px;
    width: 50px;
    height: 1px;
  }
}

.section-interface .interface-tour.view-right .arrow.arrow-middle {
  top: 7px;
  right: -114px;
  width: 108px;
  height: 5px;
  background-image: url("../images/arrow/arrow_5.svg");
}

@media screen and (min-width: 414px) {
  .section-interface .interface-tour.view-right .arrow.arrow-middle {
    right: -142px;
    width: 135px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour.view-right .arrow.arrow-middle {
    top: 10px;
    right: -135px;
    width: 223px;
    height: 1px;
    background-image: none;
  }
}

.section-interface .interface-tour.view-right .arrow.arrow-bottom {
  top: 6px;
  right: -73px;
  width: 74px;
  height: 66px;
  background-image: url("../images/arrow/arrow_6.svg");
}

@media screen and (min-width: 414px) {
  .section-interface .interface-tour.view-right .arrow.arrow-bottom {
    top: 10px;
    width: 66px;
    height: 86px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour.view-right .arrow.arrow-bottom {
    top: 46px;
    right: -89px;
    width: 155px;
    height: 1px;
    -webkit-transform: rotate(27deg);
        -ms-transform: rotate(27deg);
            transform: rotate(27deg);
  }
}

.section-interface .interface-tour .element {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1.2px;
}

@media screen and (min-width: 414px) {
  .section-interface .interface-tour .element {
    font-size: 17px;
    line-height: 21px;
  }
}

.section-interface .interface-tour .element span {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

@media screen and (min-width: 414px) {
  .section-interface .interface-tour .element span {
    font-size: 15px;
  }
}

.section-interface .interface-tour .arrow {
  position: absolute;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .section-interface .interface-tour .arrow {
    background-color: #87b36c;
  }
}

.section-interface .starts-order {
  margin-top: 25px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-interface .starts-order {
    margin-top: 50px;
  }
}

.section-interface .starts-order .desc {
  margin-bottom: 22px;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media screen and (min-width: 414px) {
  .section-interface .starts-order .desc {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .starts-order .desc {
    margin-top: 16px;
  }
}

.section-interface .starts-order .btn-order {
  width: 100%;
  height: 41px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  color: #87b36c;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #87b36c;
  border-radius: 22px;
}

@media screen and (min-width: 414px) {
  .section-interface .starts-order .btn-order {
    height: 44px;
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .section-interface .starts-order .btn-order {
    display: inline-block;
    width: 450px;
  }
}

.section-interface .starts-order .btn-order:hover {
  color: #fff;
  background-color: #87b36c;
}

@media screen and (min-width: 768px) {
  .section-price {
    width: 420px;
    margin: 0 auto;
  }
}

.section-price .price-card {
  margin-top: 40px;
  margin-bottom: 26px;
  padding-top: 26px;
  height: 160px;
  color: #fff;
  background-color: #000;
  text-align: center;
}

@media screen and (min-width: 414px) {
  .section-price .price-card {
    height: 180px;
  }
}

.section-price .price-card .name-card {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

@media screen and (min-width: 414px) {
  .section-price .price-card .name-card {
    font-size: 18px;
  }
}

.section-price .price-card .cost-card {
  font-size: 25px;
  letter-spacing: 2.3px;
}

@media screen and (min-width: 414px) {
  .section-price .price-card .cost-card {
    font-size: 30px;
  }
}

.section-price .price-card .cost-card .num {
  font-size: 85px;
  line-height: 115px;
  letter-spacing: 3.3px;
}

@media screen and (min-width: 414px) {
  .section-price .price-card .cost-card .num {
    font-size: 100px;
    line-height: 125px;
  }
}

.section-price .free-services {
  border: 2px solid #000;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 414px) {
  .section-price .free-services {
    padding-bottom: 8px;
  }
}

.section-price .free-services .title {
  margin: 0 30px;
  padding: 15px 0 12px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.33);
}

.section-price .free-services .services-list {
  padding-top: 25px;
}

.section-price .free-services .services-list .services-item {
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

@media screen and (min-width: 414px) {
  .section-price .free-services .services-list .services-item {
    margin-bottom: 20px;
    font-size: 14px;
  }
}

.footer {
  padding-top: 140px;
}

.footer .inner-footer {
  background-color: #f3f3f3;
}

@media screen and (min-width: 768px) {
  .footer .inner-footer {
    height: 100%;
  }
}

@media screen and (min-width: 992px) {
  .footer .inner-footer {
    padding-top: 50px;
  }
}

.footer .logo-bottom {
  padding: 30px 0;
}

@media screen and (min-width: 414px) {
  .footer .logo-bottom {
    padding: 50px 0 42px;
  }
}

@media screen and (min-width: 992px) {
  .footer .logo-bottom {
    float: left;
    width: 300px;
    padding-right: 100px;
  }
  .footer .logo-bottom img {
    width: 100%;
  }
}

.footer .footer-top {
  padding: 44px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .footer .footer-top {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  .footer .footer-top {
    padding-top: 47px;
    border: none;
  }
}

.footer .footer-top .footer-info-list {
  margin-bottom: 20px;
}

@media screen and (min-width: 414px) {
  .footer .footer-top .footer-info-list {
    margin-bottom: 40px;
  }
}

.footer .footer-top .footer-info-list:last-of-type {
  margin-bottom: 0;
}

.footer .footer-top .footer-info-list .title,
.footer .footer-top .footer-info-list .footer-info-item {
  margin-bottom: 5px;
  font-size: 13px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

@media screen and (min-width: 414px) {
  .footer .footer-top .footer-info-list .title,
  .footer .footer-top .footer-info-list .footer-info-item {
    margin-bottom: 10px;
    font-size: 15px;
  }
}

.footer .footer-top .footer-info-list .footer-info-item:hover {
  text-decoration: underline;
}

.footer .footer-top .footer-info-list .title {
  font-weight: 600;
}

.footer .bottom-footer {
  padding: 24px 0 16px;
}

@media screen and (min-width: 768px) {
  .footer .bottom-footer {
    padding: 35px 0 20px;
  }
}

@media screen and (min-width: 992px) {
  .footer .bottom-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.footer .bottom-footer .copyright {
  font-size: 11px;
  letter-spacing: 0.9px;
}

@media screen and (min-width: 414px) {
  .footer .bottom-footer .copyright {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  .footer .bottom-footer .copyright {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 992px) {
  .footer .bottom-footer .copyright {
    float: right;
    margin-left: 300px;
    line-height: 25px;
  }
}

.footer .bottom-footer .docs-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 19px;
}

@media screen and (min-width: 414px) {
  .footer .bottom-footer .docs-list {
    margin-bottom: 30px;
  }
}

.footer .bottom-footer .docs-list .docs-link {
  font-size: 12px;
  letter-spacing: 0.9px;
  text-decoration: underline;
}

@media screen and (min-width: 414px) {
  .footer .bottom-footer .docs-list .docs-link {
    font-size: 13px;
  }
}

.footer .bottom-footer .reg {
  font-size: 8px;
  letter-spacing: 0.6px;
}

@media screen and (min-width: 414px) {
  .footer .bottom-footer .reg {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */